{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static './pages/form.css' %}">{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <div class="form__footer">
                <button class="button button_style_blue">Создать аккаунт</button>
            </div>
        </form>
    </div>
{% endblock %}
