{% load tag_filter %}
<div class="card-user" data-author="{{ follow.author.user.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ follow.author.get_full_name }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in follow.author.user_recipes.all|slice:"3" %}
            <li class="card-user__item">
                <div class="recipe">
                    {% load thumbnail %}
                    {% thumbnail recipe.image "72x72" crop="center" as im %}
                    <img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image">
                    {% endthumbnail %}
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                </div>
            </li>
            {% endfor %}
            {% with follow.author.user_recipes.count as recipe_number %}
            {% if recipe_number > 3 %}
            <li class="card-user__item">
                <a href="{% url 'profile' username=follow %}" class="card-user__link link">
                    Еще {{ recipe_number|add:"-3" }} {{ recipe_number|get_suffix }}...</a>
            </li>
            {% endif %}
            {% endwith %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>