{% load static %}
{% load tag_filter %}
<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    <a href="{% url 'recipe' recipe.author recipe.id %}" class="link" target="_blank">
        {% thumbnail recipe.image "283x240" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{ recipe.title }}" class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.author recipe.id %}" target="_blank">
            {{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tag.all %}
            <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' username=recipe.author %}"
                    style="color: black">{{ recipe.author.get_full_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% include 'buttons/purchase.html' %}
            {% include 'buttons/favourite.html' %}
        {% endif %}
    </div>
</div>