{% extends 'base.html' %}
{% block title %}Рецепты | {{ author }}{% endblock %}
{% load static %}
{% load tag_filter %}
{% block css %}
<link rel="stylesheet" href="{% static './pages/index.css' %}">
{% endblock %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">{{ author.full_name }}</h1>
    {% include 'includes/tags.html' with all_tags=all_tags tag_list=tag_list %}
</div>
{% csrf_token %}
{% if user.is_authenticated and author != user  %}
{% if author|get_follow:user %}
<div class="author-subscribe" data-author="{{ author.id }}">
    <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button></p>
</div>
{% else %}
<div class="author-subscribe" data-author="{{ author.id }}">
    <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe"
            data-out>Подписаться на автора</button></p>
</div>
{% endif %}
{% endif %}
<div class="card-list">
    {% for recipe in page %}
    {% include "includes/recipe_card.html" with recipe=recipe %}
    {% endfor %}
</div>
{% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator%}
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static './js/components/MainCards.js' %}"></script>

<script src="{% static './js/components/Purchases.js' %}"></script>
<script src="{% static './js/components/Favorites.js' %}"></script>
<script src="{% static './js/components/Subscribe.js' %}"></script>

<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/AuthorRecipe.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>

<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static '/template_js/authorRecipe.js' %}"></script>
{% endblock %}